@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as var;
@use "sass:map" as map;
@use "buttons" as buttons;

.menu {
  position: fixed;

  @include mixins.flex(column, start, start, 0);

  transform: translateX(100%);
  top: var.$navbar-height;
  right: 0;
  width: 50%;
  height: calc(100vh - var.$navbar-height);
  background-color: map.get(var.$colors, "primary");
  z-index: 999;
  padding: map.get($map: var.$body-padding-sizes, $key: "xsm");
  transition: 0.3s ease;
  border-left: solid white;

  @include mixins.respond-to(sm) {
    padding: map.get(var.$body-padding-sizes, "sm");
  }

  .menuHeader {
    @include mixins.flex(row, space-between, center, 1rem);

    width: fit-content;
    margin-bottom: 1rem;

    h3 {
      color: map.get(var.$colors, "white");
    }
  }

  &.open {
    transform: translateX(0);
  }

  ul {
    @include mixins.flex(column, center, start, 1rem);

    list-style: none;

    li {
      a {
        font-size: 2rem;

        &:hover {
          transform: scale(1.1);
          color: map.get(var.$colors, "black");
        }
      }
    }
  }

  .menuHeader {
    @include mixins.flex(row, space-between, center, 2rem);

    width: 100%;
  }
}
