@import "globals.css";

h1 {
  font-size: 3rem;
  padding: 0 20px 0 20px;
}
  h2{
    width: fit-content;
  }

.eventDiv {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  gap: 5px;
}
.mainInfo, .subInfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.date, .time{
  white-space: nowrap;
}
.buyDiv{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.buyDiv p{
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: bold;
  width: 100%;
}
.buyDiv a{
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.2rem;
}
