@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as var;
@use "../components/buttons" as buttons;
@use "sass:map";

.memberTitleSection {
  h3 {
    color: map.get(var.$colors, "white");
  }
  @include mixins.flex(column, start, start, 0);
  @each $label, $size in var.$breakpoints {
    @include mixins.respond-to($label) {
      padding: map.get(var.$body-padding-sizes, $label);
    }
  }
}
.memberInfoSection {
  @include mixins.flex(column, start, start, 2rem);
  @each $label, $size in var.$breakpoints {
    @include mixins.respond-to($label) {
      padding: 0 map.get(var.$body-padding-sizes, $label);
    }
  }
  p {
    line-height: 1.6;
    text-align: justify;
    @include mixins.respond-to("lg") {
      max-width: 70%;
    }
  }
  img {
    width: 100%;
    object-fit: cover;
    @include mixins.respond-to("lg") {
      max-width: 70%;
    }
  }
}
